body {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    background-image:  url("../images/zed_white.png"), url("../images/diana.png"), url("../images/moulin_@2X.png");
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left bottom, top right, center center;
}

h1 {
    text-align: center;
}

.boxSec {
    background-color: #18121E;
    color: #EAC67A;
}

button {
    text-align: center;
}

.container {
    border: 2px solid #EAC67A;
    margin: 20px auto;
    background-color: #233237;
}

.storyContain {
    background-color: #18121E;
    color: #EAC67A;
    border: 3px double #984B43;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    height: 150px;
}

.characterSelect img {
    border: 1px solid #EAC67A;
    border-radius: 3px;
    margin: 5px auto;
    display: inline-block;
}

.boxSecSel {
    border: 3px double #984B43;
    border-radius: 5px;
    background-color: #18121E;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
}

.rowCustom {
    border: 5px ridge #984B43;
    background-image: url("../images/subtle_carbon_@2X.png");
    background-color: #18121E;
    color: #EAC67A;
    padding: 30px;
    height: 450px;
}