body {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    background-image:  url("../images/zed_white.png"), url("../images/diana.png"), url("../images/moulin_@2X.png");
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left bottom, top right, center center;
}

h1 {
    text-align: center;
}

#messageBox {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.buttonRow p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #233237;
}

#playerName {
    color: #659843;
}

#enemyName {
    color: #754398;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #233237;
}

#enemyStats {
    text-align: right;
    font-weight: bold;
    color: #439098;
}

#playerNameScreen {
    color: #659843;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #233237;
}

#playerStatsScreen {
    text-align: left;
    font-weight: bold;
    color: #439098;
}

.boxSec {
    background-color: #18121E;
    color: #439098;
    border-right: 5px ridge #984B43;
    border-left: 5px ridge #984B43;
    border-bottom: 5px ridge #984B43;
}

.boxSecHeader {
    background-color: #18121E;
    color: #EAC67A;
    border: 2px solid #984B43;
    padding: 20px;
}

button {
    margin: 8px;
}

.container {
    border: 5px ridge #EAC67A;
    margin: 20px auto;
    background-color: #233237;
}

.storyContain {
    background-color: #18121E;
    color: #EAC67A;
    border: 3px double #984B43;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    height: 150px;
}

.messageContain {
    background-color: #18121E;
    color: #EAC67A;
    border: 3px double #984B43;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 90px;
}

.characterSelect img {
    border: 1px solid #EAC67A;
    border-radius: 3px;
    margin: 5px;
}

#playerStats img {
    border: 1px solid #EAC67A;
    border-radius: 3px;
}

#playerStats {
    color: #EAC67A;
}

#enemyBox img {
    border: 1px solid #EAC67A;
    border-radius: 3px;
    margin: 10px;
    display: inline-block;
}


.boxSecSel {
    border: 3px double #984B43;
    border-radius: 5px;
    background-color: #18121E;
    text-align: center;
    margin: 15px auto;
    padding: 10px;
}

.rowCustom {
    border: 5px ridge #984B43;
    background-image: url("../images/subtle_carbon_@2X.png");
    background-color: #18121E;
    color: #EAC67A;
    padding: 30px;
    height: 450px;
}